<form method="post"action="/pizza-orders">

  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name"/>

  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name"/>

  <label for="pizza-select">Select a Pizza</label>
  <select id="pizza-select" name="topping">
    <option value="Margherita"> Margherita</option>
    <option value="Calzone"> Calzone</option>
  </select>

  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity"/>

  <input type="submit" value="Order Pizza" min="1"/> <%# min / max can be used to prevent users to enter silly values however developers can easily get around this so this should be prevented in the sinatra code.%>




</form>
<%# the name properties need to be the same names as the names in the datababse. The for name also has to be the same as the database id names.%>
