body {
  background-color: #f1f1f1;
}

h1 {
  text-align:center;
  color: black;
  font: helvetica;
}

li {
  display: inline;
}

img {
  justify-content: center;
  max-width: 90%;
  max-height: 20%;
}
