body {
  background-color: #f1f1f1;
  background-image:"pizza.jpeg";
  background-size: cover;
}

h1 {
  text-align:center;
  color: black;
  font-family: "Helvetica", sans-serif;
}

li {
  display: inline;
  padding: 20px;
}

img {
  justify-content: center;
  max-width: 90%;
  max-height: 20%;
}
